<div class="mx-auto md:w-2/3 w-full container">
  <h1 class="font-bold text-4xl" style="color: white; text-align: center;">Editing task</h1>

  <%= render "form", task: @task, post: @post %>
  <br />
  <div class="container bor-der" data-bs-offset="50" >

      <div class="container-fluid border-bottom border-5">
        <h2 style="color: white; text-align: center;">Subtask: </h2>
        <div class="bor-der container" style="padding: 10px">
          <h4 style="color: white;">Continues:    <%= @subtasks.continues.count %></h4>
          <h4 style="color: white;">Finished:  <%= @subtasks.finished.count %></h4>
        </div><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%= form_with url: bulk_update_subtasks_post_task_subtasks_path(@post, @task), method: :patch, id: :bulk_actions_form do |form|%>
            <%= form.submit "continues", class:"btn btn-warning me-md-2" %>
            <%= form.submit "finished", class:"btn btn-success" %>
          <% end %> 
        </div>     
      </div>
        <div style="height: 500px; overflow: auto;">
          <% @task.subtasks.each do |subtask| %>
            <%= render 'subtasks/show', task: @task, subtask: subtask %>
          <% end %> 
        </div>
        <%= render "subtasks/form", post: @post, task: @task,  subtask: @task.subtasks.build %>
    </div>

  </br>
  <%= link_to "Back to posts", post_path(@post), class:"btn btn-danger button" %>

  
</div>
<style>
  .button{
    margin: 10px;
  }
  .bor-der{
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #fff;
      }
</style>
