<div id="<%= dom_id subtask %>">

  <% if action_name != "show" %>
    <%= link_to "Show", subtask, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_subtask_path(subtask), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>


   <fieldset class="tasks-list">
    <label class="tasks-list-item">
      <%= check_box_tag "subtasks_ids[]", subtask.id, nil, {multiple: true, form: :bulk_actions_form }%>
      <%= subtask.body %>
    </label>
  </fieldset>
</div>
