<% if current_user %>
    </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
        <li class="nav-item">
            <%= link_to "+Add project", new_post_path, class: "nav-link active"%>
        </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name%>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><%= link_to "Setting", edit_user_registration_path, class:"dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
            </li>
<% else %>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
        </li>
    </ul>
<% end %>