<div class="post_user-<%= post_user.id %> container" style="color: white">
<hr>
  <div class="btn-group float-end">
    <%= form_with(model: [post, post_user]) do |f| %>
      <%= f.collection_check_boxes :role, PostUser.roles, :first, :last %>
      <%= f.submit "Add roles", class:"btn btn-primary" %>
    <% end %>
    <%= button_to 'Destroy', [post, post_user], class:"btn btn-danger", method: :delete %>
  </div>
  <p><%= post_user.content %></p>

</div>
