<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <hr>
      <div class="row mb-3">
        <label  class="col-sm-2 col-form-label text-light"><h2>Name</h2></label>
        <div class="col-sm-10">
          <%= form.text_field :name, class:"form-control" %>
        </div>
      </div>
       <hr>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label text-light"><h2>Description</h2></label>
        <div class="col-sm-10">
          <%= form.text_area :description, class:"form-control", id:"inputPassword3" %>
        </div>
      </div>
      <hr>
        <%= form.submit class:"btn btn-success not_bot" %>
   
<style>
  .not_bot{
    position: absolute;
    top: 260px;
    left: 80%;
  }
</style>
<% end %>