<h1 class="text-light text-center">Editing post</h1>

<%= render "form", post: @post %>

<br>

<div style="position: fixed; left: 45%; bottom: 30%">
  <%= link_to "Show this post", @post, class:"btn btn-primary" %> 
</div>
<div style="position: fixed; left: 20%; bottom: 30%">
  <%= link_to "Back to posts", posts_path, class:"btn btn-danger" %>
</div>

<div class="container">
  <div class="container-fluid">
      <h2 style="color: white; text-align: center;">Members: </h2>
    </div>
    
    <div style="height: 200px; overflow: auto;">
      <% @post_users.each do |post_user| %>
        <%= render 'post_users/show', post: @post, post_user: post_user %>
      <% end %> 
    </div>
    <%= render "post_users/form", post: @post, post_user: @post.post_users.build %>
</div>
<%# <%= form.submit class:"btn btn-success"%> 