<!DOCTYPE html>
<html>
  <head>
    <title>BlogDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script> 
    <script> 
        jQuery(document).ready(function ($) { 
        /* Some simple jQuery to switch the classes */ 
        $(".colourOption").on("click", function () { 
            /* This line removes the selectedColour class from every element in the colouPicker, meaning that only one is selected at a time! 

                It basically saves me having to make them a check box, I should proabbly be told of for that...*/ 
            $("#colourPicker *").removeClass("selectedColour"); 
            /* This switches on the selectedColour class for that div. */ 
            $(this).toggleClass("selectedColour"); 

            /*Changing the body colours, its really ugly repeative code, I could probably improve it! */ 
            if ($(this).attr("id") == "colourOne") { 
                $("body").addClass("bodyOne"); 
                $("body").removeClass("bodyTwo bodyThree bodyFour bodyFive bodySix"); 
                $("body").css("background-color", "");
            } else if ($(this).attr("id") == "colourTwo") { 
                $("body").addClass("bodyTwo"); 
                $("body").removeClass("bodyOne bodyThree bodyFour bodyFive bodySix"); 
                $("body").css("background-color", "");
            } else if ($(this).attr("id") == "colourThree") { 
                $("body").addClass("bodyThree"); 
                $("body").removeClass("bodyOne bodyTwo bodyFour bodyFive bodySix"); 
                $("body").css("background-color", "");
            } else if ($(this).attr("id") == "colourFour") { 
                $("body").addClass("bodyFour"); 
                $("body").removeClass("bodyOne bodyTwo bodyThree bodyFive bodySix"); 
                $("body").css("background-color", "");
            } else if ($(this).attr("id") == "colourFive") { 
                $("body").addClass("bodyFive"); 
                $("body").removeClass("bodyOne bodyTwo bodyThree bodyFour bodySix"); 
                $("body").css("background-color", "");
            } else if ($(this).attr("id") == "colourSix") { 
                $("body").removeClass("bodyOne bodyTwo bodyThree bodyFour bodyFive"); 
            } 
        }); 
        }); 

    </script> 
    <style rel="stylesheet">  
        #colourPicker {  
            display: inline-block;  
            position: absolute; 
            margin-left:95%;  
            margin-right:0%;  
            margin-top:5%;  
            width: 50px;  
            border-style: solid;  
            border-radius: 10px;
            border-width: 2px;  
            border-color: #fff;  
            background-color: #fff; 
        }  
        #colourPicker div {  
        display: block;  
        margin: 5px;  
        width: 35px;  
        height: 40px;  
        border-style: solid;  
        border-radius: 10px;
        }  
        .colourOption{  
        border-width: 1px;  
        color: rgba(2,2,3,0.2); 
        }  
        #colourOne {  
        background-color: #3498DB;  
        border-color:#3498DB;  
        }  
        #colourTwo {  
        background-color: #9B59B6;  
        border-color: #9B59B6;  
        }  
        #colourThree {  
        background-color: #2ECC71;  
        border-color: #2ECC71;  
        }  
        #colourFour {  
        background-color: #E74C3C;  
        border-color: #E74C3C;  
        }  
        #colourFive {  
        background-color: #E67E22;  
        border-color: #E67E22;  
        }  
        #colourSix {  
        background-image: linear-gradient(to right,  green, blue, indigo, violet, red, orange, yellow, green, blue, indigo, violet);
        border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
        }  
        .selectedColour {  
        border-width: 0 0 60px 30px;  
        }  
        .bodyOne {  
        background-color: #3498DB;  
        }  
        .bodyTwo {  
        background-color: #9B59B6;  
        }  
        .bodyThree {  
        background-color: #2ECC71;  
        }  
        .bodyFour {  
        background-color: #E74C3C;  
        }  
        .bodyFive {  
        background-color: #E67E22;  
        }  
        .bodySix {  
        background-color: #fff;  
        }
    </style>
  </head>
  <body id="go">
  <style rel="stylesheet">
            body {
                background-color: #3498DB;
            }
            
            .body{
                /* hato */
               
                
                /* hato */
                
                border-radius: 7px;
                border: 1px solid #fff;
                box-shadow: 0px 0px 5px #fff;
                /* z-index: -1; */
                /* -webkit-filter: blur(3px); */
                /* -moz-filter: blur(3px); */
               
                
                /* filter: blur(3px); */
                /* filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); */
                background-color: rgba(2,2,3,0.2);
            }
           

            .circle {
                border-radius: 50%;
                width: var(--circle-size);
                height: var(--circle-size);
            }

            .circle-container {
            position: absolute;
            top: 50%;
            left: 50%;
            }

            #circle-container-1 {
            transform: perspective(500px) translate3d(-35vh, -35vh, 0px);
            }

            #circle-container-2 {
            transform: perspective(500px) translate3d(-20vh, -20vh, 0px);
            }

            #circle1 {
                background-image: radial-gradient(circle at center, rgba(61, 210, 240, 1) 0%, rgba(61, 210, 240, 0) var(--circle-fallout));
                opacity: .9;
                animation: orbit1 20s linear infinite;
            }

            #circle2 {
                background-image: radial-gradient(circle at center, rgba(122, 76, 226, 1) 0%, rgba(122, 76, 226, 0) var(--circle-fallout));
                opacity: .5;
                animation: orbit2 20s linear infinite;
            }


            canvas {
                display: block;
                vertical-align: bottom;
            }
            /* ---- particles.js container ---- */

            #particles-js {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            #type {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: var(--type-scale);
                height: auto;
                pointer-events: none;
            }

            @keyframes orbit1 {
            from { transform: rotate(0deg) perspective(500px) translate3d(50px,0,0); }
            to   { transform: rotate(360deg) perspective(500px) translate3d(50px,0,0); }
            }

            @keyframes orbit2 {
            from { transform: rotate(360deg) perspective(500px) translate3d(-50px,0,0); }
            to   { transform: rotate(0deg) perspective(500px) translate3d(-50px,0,0); }
            }
  </style>
    <div id="container">
        <div class="circle-container" id="circle-container-1">
          <div id="circle1" class="circle"></div>
        </div>
        <div class="circle-container" id="circle-container-2">
          <div id="circle2" class="circle"></div>
        </div>
        <div id="particles-js"></div>
    </div>
 
  <header>
    <%= render 'layouts/navbar'%>
    <br><br><br>
    <%= render 'layouts/alerts'%>
    <br>
  </header>
    <div id='colourPicker' style="position: fixed;"> 
        <div id='colourOne' class='colourOption'></div> 
        <div id='colourTwo' class='colourOption'></div> 
        <div id='colourThree' class='colourOption'></div> 
        <div id='colourFour' class='colourOption'></div> 
        <div id='colourFive' class='colourOption'></div> 
        <div id='colourSix'   class='colourOption'  onclick="setColor()"></div> 
    </div>
  <div class="container body">   
    <%= yield %>
  </div>
  <br><br><br><br>
  </body> 
  <script>
        // $(function() {
        //     $( ".box" ).draggable();
        // });
        particlesJS("particles-js", {
        "particles": {
            "number": {
            "value": 50,
            "density": {
                "enable": true,
                "value_area": 800
            }
            },
            "color": {
            "value": "#ffffff"
            },
            "shape": {
            "type": "circle",
            "stroke": {
                "width": 0,
                "color": "#000000"
            },
            "polygon": {
                "nb_sides": 5
            },
            "image": {
                "src": "img/github.svg",
                "width": 100,
                "height": 100
            }
            },
            "opacity": {
            "value": 1,
            "random": true,
            "anim": {
                "enable": true,
                "speed": 1,
                "opacity_min": 0.7,
                "sync": false
            }
            },
            "size": {
            "value": 10,
            "random": true,
            "anim": {
                "enable": true,
                "speed": 5,
                "size_min": 0.5,
                "sync": false
            }
            },
            "line_linked": {
            "enable": true,
            "distance": 100,
            "color": "#ffffff",
            "opacity": 1,
            "width": 1
            },
            "move": {
            "enable": true,
            "speed": 3,
            "direction": "none",
            "random": true,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
            }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
            "onhover": {
                "enable": true,
                "mode": "grab" //grab, bubble, repulse
            },
            "onclick": {
                "enable": true,
                "mode": "push" //push, remove, bubble, repulse
            },
            "resize": true,
            },
            "modes": {
            "grab": {
                "distance": 140,
                "line_linked": {
                "opacity": 1
                }
            },
            "bubble": {
                "distance": 400,
                "size": 40,
                "duration": 2,
                "opacity": 8,
                "speed": 3
            },
            "repulse": {
                "distance": 200,
                "duration": 0.4
            },
            "push": {
                "particles_nb": 2
            },
            "remove": {
                "particles_nb": 2
            }
            }
        },
        "retina_detect": true
        });
  </script>
  <script>
    function randomColor() { 
    return "#" + // start with a leading hash 
        Math.random() // generates random number 
        .toString(16) // changes that number to base 16 as a string 
        .substr(2, 6); // gets 6 characters and excludes the leading "0." 
    } 
    
    function setColor() { 
    var newColor; 
    newColor = randomColor(); 
    
    // document.getElementById('go').style.background = newColor; 
    document.querySelector("#colourSix").style.backgroundColor = newColor;
    document.querySelector("#colourSix").style.borderColor = newColor;
    document.body.style.backgroundColor = newColor;
    // document.getElementByClassName("bodySix").style.backgroundColor = newColor;
    // document.getElementByClassName("bodySix").style.borderColor = newColor;
    }
  </script>
</html>
