<!DOCTYPE html>
<html>
  <head>
    <title>BlogDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
   
  </head>
  <body>
  <style rel="stylesheet">
             body {
                background:  rgba(255, 255, 255, 0.8);
                background-color: #8080ff;
            }
            
            .body{
                /* hato */
                display: inline-block; ;
                position: absolute;
                right: 8%;
                left: 8%;
                /* hato */
                
                border-radius: 7px;
                /* z-index: -1; */
                /* -webkit-filter: blur(3px); */
                /* -moz-filter: blur(3px); */
               
                background-filter: blur(30%);
                /* filter: blur(3px); */
                /* filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); */
                background-color: rgba(2,2,3,0.5);
            }
           

            .circle {
                border-radius: 50%;
                width: var(--circle-size);
                height: var(--circle-size);
            }

            .circle-container {
            position: absolute;
            top: 50%;
            left: 50%;
            }

            #circle-container-1 {
            transform: perspective(500px) translate3d(-35vh, -35vh, 0px);
            }

            #circle-container-2 {
            transform: perspective(500px) translate3d(-20vh, -20vh, 0px);
            }

            #circle1 {
                background-image: radial-gradient(circle at center, rgba(61, 210, 240, 1) 0%, rgba(61, 210, 240, 0) var(--circle-fallout));
                opacity: .9;
                animation: orbit1 20s linear infinite;
            }

            #circle2 {
                background-image: radial-gradient(circle at center, rgba(122, 76, 226, 1) 0%, rgba(122, 76, 226, 0) var(--circle-fallout));
                opacity: .5;
                animation: orbit2 20s linear infinite;
            }


            canvas {
                display: block;
                vertical-align: bottom;
            }
            /* ---- particles.js container ---- */

            #particles-js {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            #type {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: var(--type-scale);
                height: auto;
                pointer-events: none;
            }

            @keyframes orbit1 {
            from { transform: rotate(0deg) perspective(500px) translate3d(50px,0,0); }
            to   { transform: rotate(360deg) perspective(500px) translate3d(50px,0,0); }
            }

            @keyframes orbit2 {
            from { transform: rotate(360deg) perspective(500px) translate3d(-50px,0,0); }
            to   { transform: rotate(0deg) perspective(500px) translate3d(-50px,0,0); }
            }
  </style>
    <div id="container">
        <div class="circle-container" id="circle-container-1">
          <div id="circle1" class="circle"></div>
        </div>
        <div class="circle-container" id="circle-container-2">
          <div id="circle2" class="circle"></div>
        </div>
        <div id="particles-js"></div>
    </div>
  <header>
    <%= render 'layouts/navbar'%>
    <%= render 'layouts/alerts'%>
    <br>
  </header>
  <div class="body">
    <%= yield %>
  </div>
  </body> 
  <script>
        // $(function() {
        //     $( ".box" ).draggable();
        // });
        particlesJS("particles-js", {
        "particles": {
            "number": {
            "value": 50,
            "density": {
                "enable": true,
                "value_area": 800
            }
            },
            "color": {
            "value": "#ffffff"
            },
            "shape": {
            "type": "circle",
            "stroke": {
                "width": 0,
                "color": "#000000"
            },
            "polygon": {
                "nb_sides": 5
            },
            "image": {
                "src": "img/github.svg",
                "width": 100,
                "height": 100
            }
            },
            "opacity": {
            "value": 1,
            "random": true,
            "anim": {
                "enable": true,
                "speed": 1,
                "opacity_min": 0.7,
                "sync": false
            }
            },
            "size": {
            "value": 10,
            "random": true,
            "anim": {
                "enable": true,
                "speed": 5,
                "size_min": 0.5,
                "sync": false
            }
            },
            "line_linked": {
            "enable": true,
            "distance": 100,
            "color": "#ffffff",
            "opacity": 1,
            "width": 1
            },
            "move": {
            "enable": true,
            "speed": 3,
            "direction": "none",
            "random": true,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
            }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
            "onhover": {
                "enable": true,
                "mode": "grab" //grab, bubble, repulse
            },
            "onclick": {
                "enable": true,
                "mode": "push" //push, remove, bubble, repulse
            },
            "resize": true,
            },
            "modes": {
            "grab": {
                "distance": 140,
                "line_linked": {
                "opacity": 1
                }
            },
            "bubble": {
                "distance": 400,
                "size": 40,
                "duration": 2,
                "opacity": 8,
                "speed": 3
            },
            "repulse": {
                "distance": 200,
                "duration": 0.4
            },
            "push": {
                "particles_nb": 2
            },
            "remove": {
                "particles_nb": 2
            }
            }
        },
        "retina_detect": true
        });
  </script>
</html>
